@media screen and (max-width: 991px) {

      .hero__title {
        font-size: 50px;
    } 

}

@media screen and (max-width: 767px) {
  
    .header {
        min-height: 133px;
    }
  
}

@media screen and (max-width: 575px) {
    
    .nav__list{
        display: none;
    }
    .header {
        min-height: 80px;
    }
    .card-img-top {
        border-radius: 50px 50px 0px 0px;
    }
}
